target
**/*.iml
.idea
**/__pycache__
**/*.pyc
.cache
out/
build/
.gradle/
.DS_Store
c/build/
c/_deps/
c/CMakeCache.txt
c/CMakeFiles/
c/Makefile
c/cmake_install.cmake
c/CTestTestfile.cmake
c/bin/
c/lib/
c/src/CMakeFiles/
c/src/Makefile
c/src/cmake_install.cmake
c/test-*/CMakeFiles/
c/test-*/Makefile
c/test-*/cmake_install.cmake
c/test-*/CTestTestfile.cmake
c/test-catch2/sample_test_catch2
c/test-gtest/sample_test_gtest
java/target/
*.o
*.d
